argcomplete==1.10.0
beautifulsoup4==4.8.0
bsddb3==6.2.4
certifi==2019.6.16
cffi==1.11.4
chardet==3.0.4
cryptography==2.8
Cython==0.29.4
dj-database-url==0.5.0
Django==2.2.8
django-heroku==0.3.1
django-widget-tweaks==1.4.5
docutils==0.14
docx2txt==0.8
EbookLib==0.17.1
extract-msg==0.23.1
extras==1.0.0
fixtures==3.0.0
gemato==14.1
gunicorn==20.0.4
html5lib==1.0.1
idna==2.5
IMAPClient==2.1.0
ipaddress==1.0.22
isodate==0.5.4
linecache2==1.0.0
lxml==4.3.3
Mako==1.0.6
MarkupSafe==0.23
meson==0.51.2
numpy==1.14.5
olefile==0.46
pbr==4.2.0
pdfminer.six==20181108
Pillow==8.3.2
ply==3.9
psycopg2==2.8.4
pyblake2==1.1.2
pycairo==1.17.0
pycparser==2.14
pycryptodome==3.9.4
pycups==1.9.73
Pygments==2.3.1
pymssql==2.1.4
pyOpenSSL==19.0.0
pyparsing==2.3.1
PyPDF2==1.26.0
PyQt5==5.12.2
PyQt5-sip==4.19.17
pyrsistent==0.14.2
PySocks==1.6.7
python-mimeparse==1.6.0
python-pptx==0.6.18
python-subunit==1.2.0
pytz==2019.3
pyxattr==0.6.0
rdflib==4.2.2
reportlab==3.5.13
requests==2.21.0
scour==0.36
six==1.12.0
sortedcontainers==2.1.0
soupsieve==1.9.5
SpeechRecognition==3.8.1
sqlparse==0.3.0
testtools==2.3.0
textract==1.6.3
traceback2==1.4.0
tzlocal==1.5.1
unittest2==1.1.0
urllib3==1.24.2
virtualenv==16.7.7
webencodings==0.5.1
whitenoise==5.0.1
xlrd==1.2.0
